.title-fade-in {
    opacity: 100;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.title-fade-out {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 2s;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    font-size: larger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.danpic {
    height: 300;
    width: 300;
    border-radius: 150;
    border-color: white;
    border-style: solid;
    border-width: 2;
}

#background {
    width: 100%;
    height: 800px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}